* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

div table {
    width: 100%;
    border-collapse: collapse;

}

div table tr.row-header {
    color: white;
    background-color: rgb(50, 52, 52);

}

th {
    padding: 10px;
    text-align: left;
}


td {
    padding: 10px;
    padding-bottom: 15px;
    border-bottom: 0.5px solid rgb(194, 192, 192);
}

td input[type=button].button {
    padding: 5px 10px;
    cursor: pointer;
    font-size: 20px;
    border-color: red;
    border-radius: 3px;
    color: red;
    background-color: white;
}

div#form-container form.form {
    margin: auto;
    width: 70%;
    padding: 40px;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid rgb(194, 192, 192);
}

#dodaj {
    width:100px;
    padding: 8px;
    margin: 5px;
    border-radius: 5px;
    background-color: rgb(33, 129, 68);
    color: white;
    border: none;
}

div input[type=button]:hover {
    transition: 0.1s;
    box-shadow: 3px 3px 10px rgb(71, 70, 70);
}

div#form-update {
    margin: auto;
    width: 70%;
    padding: 40px;
}

#div-nazad,
#sacuvajDugme {
    display: inline;
}

.sacuvajDugme {
    width: 130px;
    padding: 7px;
    border-radius: 3px;
    background-color: rgb(83, 83, 255);
    color: white;
    border:none;
}

.nazad {
    width: 80px;
    padding: 5px;
    border: 1px solid rgb(83, 83, 255);
    color: rgb(83, 83, 255);
    background-color: white;
    font-weight: bold;
    border-radius: 3px;
}